@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

/* body */

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* Header */

header {
    font-family: "Shrikhand" , cursive;
    text-align: center;
    box-shadow: 0px 0px 8px rgb(0 0 0 /25%);
    padding: 6px;
    margin: 0px;
    position: relative;
}

/* Main */

main {
    font-family: "Roboto" , sans-serif;
}

main .city {
    background-color: rgb(233, 233, 233);
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
}

main .city i {
    font-size: 25px;
}

/* Main section bouton explorer */

.explorer {
    text-align: center;
    background-color: #F3F3F3;
    padding-top: 0px;
}

.explorer h2 {  
    padding-top: 38px;
    margin: 0px;
    font-size: 30px;
}

.explorer p {
    font-size: 22px;
    margin-top: 12px;
}

.explorer button {
    color: white;
    padding: 20px 40px;
    font-style: bold;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 2px 1px 16px -5px #000000;
    background-image: linear-gradient(rgb(247, 155, 247) , rgb(138, 8, 138));
    margin-bottom: 55px;
    margin-top: 10px;
    transition: transform 1s, opacity 1.5s;
    cursor: pointer;
}

.explorer button:hover {
    transform: scale(1.06);
    opacity: 0.7;
}

/* Main - Fonctionnement */

.Fonctionnement h3 {
    font-family: "Roboto" , sans-serif;
    text-align: left;
    padding-left: 20px;
    font-size: 28px;
}

.Fonctionnement ol{
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto" , sans-serif;
    gap: 30px;
    justify-content: center;
    counter-reset: chiffre ;
    list-style: none;   
}

.Fonctionnement li {
    background-color: #f6f6f6;
    box-shadow: 8px 5px 16px -13px #000000;
    border-radius: 27px;
    padding: 32px 30px;
    border: none;
    font-weight: bold;
    position: relative;
}

.Fonctionnement li span {
    margin-left: -40px;
    border-radius: 50%;
    color: white;
    background-color: purple;
    padding: 8px 12px;
}

.Fonctionnement li i{
    margin-right: 25px;
    margin-left: 20px;
    font-size: 23px;
}

.Fonctionnement li::before {
    counter-increment: chiffre ;
    content: counter(chiffre);
    background-color: purple;
    padding: 14px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -21px;
    bottom: 23px;
}

.Fonctionnement li:hover {
    cursor: pointer;
    background-color: #fdedf8;
    font-family: "Roboto" , sans-serif;
}

.Fonctionnement li:hover i{
    color: purple;
}

@media (max-width: 950px) {
    .Fonctionnement ol {
        flex-direction: column;
        margin-right: 20px;
    }
}

/* Main - Restaurants */

.Restaurants {
    background-color: #F3F3F3;
    margin-top: 70px;
    padding-bottom: 70px;
}

.Restaurants h3{
    font-size: 28px;
    font-family: "Roboto" , sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-top: 55px;
}

/* Main - Restaurants-Card */ 

.card-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 15px;
    padding-left: 15px;
}

/* card */

.card {
    width: 100%;
    height: 420px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 1px 16px -5px #000000;
    transition: transform 1s;
    position: relative;
}

.card:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.card:hover i {
    color: purple;
}

.card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 13px 13px 0px 0px;
}

.card .img-text {
    color: green;
    background-color: lightgreen;
    padding: 5px 15px;
    position: absolute;
    right: 1.5%;
    top: 2%;
}

.card h3 {
    padding-left: 10px;
    font-size: 21px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-top: 0px;
}

.card p {
    padding-left: 10px;
    font-size: 17px;
    margin-top: 7px;
}

.card i {
    font-size: 24px;
    position: absolute;
    bottom: 9%;
    right: 3%;
}

/* Footer */

.footer {
    background-color: rgb(65, 64, 64);
    margin-top: -20px;
    height: 170px;
}

.footer h4 {
    font-family: "Shrikhand" , cursive;
    color: rgb(224, 224, 224);
    padding-top: 20px;
    padding-left: 20px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    gap: 5px;
}

.footer li {
    list-style: none;
    margin-left: -19px;
}

.footer li i {
    margin-right: 10px;
    font-size: 12px;
}